@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sweet Tooth Bakery</h1>
    <p>Where Your Sweetest Desires are Met</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Home Away from Home</h2>
        <p>Come join us for coffee and treats and a comfortable, relaxed atmosphere where you can read, talk, work on your novel and enjoy a treat that even if not nourishing, will nourish your soul.</p>
        <p>Register and Login to order treats on-line</p>
     </div>
</div>